@import (once) "../theme";

#user-list-wrapper {
  #user-list {
    margin: 1rem; display: flex; width: 100%; justify-content: flex-start; align-items: center; flex-wrap: wrap;
    max-height: 12rem; overflow: auto;

    .user-list-entry {
      flex-basis: 120px; margin-bottom: 4px; margin-right: 4px;
      button { text-overflow: ellipsis; cursor: pointer; font-size: .8em; font-variant: unset; text-transform: none; }
    }
  }

  p {
    padding: 0 1rem;
    input#user-search { width: 10rem; display: inline; }
  }
}

.adm-exploration {
  position: relative;
  width: 100%;
  min-height: 300px;

  & > div {
    position: absolute;
    transform: translateX(150px); width: 20px; height: 20px;
    background-size: cover; background-position: 50%;
    background-image: url(../../img/admin/fmap/tile0.png);

    &.rz-far:not(.rz-zeds) { filter: brightness(75%); }
    &.rz-zeds:not(.rz-far) { filter: hue-rotate(290deg) }
    &.rz-far.rz-zeds { filter: brightness(75%) hue-rotate(290deg); }
    &.rz-locked, &.rz-unlocked {
      &:after { content: " "; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-size: contain; }
      &.rz-locked:after { background-image: url(../../img/admin/fmap/doorlock1.png) }
      &.rz-unlocked:after { background-image: url(../../img/admin/fmap/doorlock2.png) }
    }

    &.rz-1 { background-image: url( ../../img/admin/fmap/tile2.png ); }
    &.rz-2 { background-image: url( ../../img/admin/fmap/tile1.png ); }
    &.rz-3 { background-image: url( ../../img/admin/fmap/tile8.png ); }
    &.rz-4 { background-image: url( ../../img/admin/fmap/tile3.png ); }
    &.rz-5 { background-image: url( ../../img/admin/fmap/tile9.png ); }
    &.rz-6 { background-image: url( ../../img/admin/fmap/tile5.png ); }
    &.rz-7 { background-image: url( ../../img/admin/fmap/tile13.png); }
    &.rz-8 { background-image: url( ../../img/admin/fmap/tile4.png ); }
    &.rz-9 { background-image: url( ../../img/admin/fmap/tile6.png ); }
    &.rz-10 { background-image: url(../../img/admin/fmap/tile11.png); }
    &.rz-11 { background-image: url(../../img/admin/fmap/tile12.png); }
    &.rz-12 { background-image: url(../../img/admin/fmap/tile10.png); }
    &.rz-13 { background-image: url(../../img/admin/fmap/tile14.png); }
    &.rz-14 { background-image: url(../../img/admin/fmap/tile15.png); }
    &.rz-15 { background-image: url(../../img/admin/fmap/tile7.png ); }
  }
}