@import (once) "grid";

@screen-large:  lg; @screen-large-threshold: 950px;
@screen-medium: md; @screen-medium-threshold: 600px;
@screen-small:  sm; @screen-small-threshold: 480px;

// Visual Controls
@media (min-width: @screen-large-threshold) {
  .hide-desktop {display: none !important;};
}
@media (max-width: (@screen-large-threshold - 1)) {
  .hide-mobile {display: none !important;};
  body {background: black;}
  #wrapper, div.game-menu-area, footer { width: 100%; }

  div.town-header {
    &:before { display: none; }
    &.hardcore {
      &:before { display: none; }
    }
    position: relative; margin-bottom: 5px; padding-bottom: 5px; border-bottom: 2px solid rgba(0,0,0,0.25);
    &>b { display: block; position: relative; left: 0; top: 0; width: 100%; color: @myhordes-smalltext }
    &>span { position: relative; display: block; left: 0; top: 0; width: 100%; color: black; }
  }

  #gazette {
    perspective: 1000px;
    width: 95%;
    height: 0;
    padding-bottom: 75%;

    .newspage {
      width: 90%;
      height: 0;
      margin: 0;
      display: block;
      vertical-align: top;
      position: absolute;
      padding-bottom: 75%;
      background-size: cover;
      transform-style: preserve-3d;
      transition: all 1.0s linear;
      backface-visibility: hidden;
      left: 5%;
      z-index: 0;

      &#newspage-front {
        margin-left: 0;

        div#gazette-content {
          font-size: 2.5vw;
        }

        div#gazette-headline {
          font-size: 3.2vw;
          top: 13%;
        }

        div#gazette-signature {
          font-size: 2.5vw;
        }

        div#gazette-deaths {
          font-size: 3vw;
        }
      }
      &#newspage-back {
        width: 90%;
        margin-left: 0;
        transform: rotateY(-180deg);
        z-index: 1;

        .nightstat {
          font-size: 3vw;
        }
      }
    }
  }
  #gazette-switcher {
    display: block;
    margin: auto;
    padding: 1rem;
  }
  #gazette-switch:checked + #gazette {
    .newspage {
      transform: rotateY(-180deg);

      &#newspage-back {
        transform: rotateY(-360deg);
      }
    }
  }
}
@media (max-width: (@screen-large-threshold - 1)) and (min-width: @screen-small-threshold) {
  .row > .cell.town-addons {
    flex-wrap: wrap;
    & > .town-addon {
      flex-basis: 30%;
      width: 30%;
      height: auto;

      & > div {
        height: 0;
        width: 100%;
        padding-bottom: 100%;
      }
    }
  }
  .row > .cell.town-addons > .town-addon.town-addon-empty > div {
    display: none;
  }
}
@media (max-width: (@screen-large-threshold - 1)) and (min-width: @screen-medium-threshold) {
  .hide-@{screen-large} {display: none !important;};
  .dashboard .deco-estimation { border-right: none; }
  .soul .language-picker {
    flex-wrap: wrap;
    &>.note {
      width: 50%;
      flex-basis: 50%;
    }
  }
}
@media (max-width: (@screen-medium-threshold - 1)) and (min-width: @screen-small-threshold) {
  .hide-@{screen-medium} {display: none !important;};
  .dashboard .attack-estimation, .dashboard .deco-estimation { border-right: none; }
  .soul .language-picker {
    flex-wrap: wrap;
    &>.note {
      width: 100%;
      flex-basis: 100%;
    }
  }
}
@media (max-width: (@screen-small-threshold - 1)) {
  .hide-@{screen-small} {display: none !important;};
  #notifications { width: 100%; left: 0; margin-left: 0; }
  button, .button { padding-top: 16px; padding-bottom: 16px; margin-top: 8px; margin-bottom: 8px; }
  ul.actions>li {
    padding-top: 16px; padding-bottom: 16px; &>img:first-child { top: 19px; }
    &>div.targets {
      &>ul>li { padding: 16px; }
      & *[x-close-for] { display: inline-block; padding: 16px; }
    }
  }
  .row > .cell.town-addons {
    flex-wrap: nowrap;
    & > .town-addon {
      flex-basis: 13%; width: 13%; height: auto; flex-shrink: 1;
      & > div { height: 0; width: 100%; padding-bottom: 100%; }
    }
  }
  .row > .cell.town-addons > .town-addon.town-addon-empty > div {
    height: 0;
    width: calc(100% - 4px);
    padding-bottom: 100%;
  }
  .dashboard .attack-estimation, .dashboard .deco-estimation { border-right: none; }

  .soul .language-picker {
    flex-wrap: wrap;
    &>.note {
      width: 100%;
      flex-basis: 100%;
    }
  }
}

.postfix(@threshold, @postfix) {
  @media (max-width: (@threshold - 1)) {
    .row {
      >.cell{.grid(12,@postfix)}>.cell-small{.grid(24,@postfix)}
      >.cell, >.cell-small {
        &.padded-@{postfix} {padding: 5px;}
        &.smallpad-@{postfix} {padding: 2px;}
        &.nopad-@{postfix} {padding: 0}
      }
    }
  }
}

.postfix(@screen-large-threshold, @screen-large);
.postfix(@screen-medium-threshold, @screen-medium);
.postfix(@screen-small-threshold, @screen-small);