<div class="forum-editor">
    <div class="forum-editor-header">
        {% if tid is null %}
            <i>{{ 'Neuer Thread'|trans({},'global') }}</i>
        {% else %}
            <i>{{ 'Neuer Post'|trans({},'global') }}</i>
        {% endif %}
        <b>{{ app.user.username }}</b>
    </div>
    {% if tid is null %}
        <div class="row">
            <div class="cell rw-4 padded">
                <label for="forum-editor-title">{{ 'Titel'|trans({},'global') }}</label>
            </div>
            <div class="cell rw-8 padded">
                <input type="text" id="forum-editor-title" />
            </div>
        </div>
    {% endif %}
    <div class="row classic-editor">
        <div class="padded cell rw-12">
            <label>{{ 'Vorschau'|trans({},'global') }}</label>
            <div id="forum-editor-preview"></div>
            <br />
            <label for="forum-editor-text">{{ 'Deine Nachricht'|trans({},'global') }}</label>
            <div class="forum-button-bar">
                <div x-forum-action="edit" x-text-wrap-node="b" class="forum-button"><i class="fa fa-bold"></i><span class="forum-button-tooltip">{{ 'Fett'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-wrap-node="i" class="forum-button"><i class="fa fa-italic"></i><span class="forum-button-tooltip">{{ 'Kursiv'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-wrap-node="u" class="forum-button"><i class="fa fa-underline"></i><span class="forum-button-tooltip">{{ 'Unterstreichen'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-wrap-node="s" class="forum-button"><i class="fa fa-strikethrough"></i><span class="forum-button-tooltip">{{ 'Durchstreichen'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-wrap-node="bad" class="forum-button"><i class="fas fa-tint"></i><span class="forum-button-tooltip">{{ 'Verräter'|trans({},'global') }}</span></div>
                <div x-forum-action="modal" x-text-modal-node="link" class="forum-button"><i class="fa fa-link"></i><span class="forum-button-tooltip">{{ 'Link einfügen'|trans({},'global') }}</span></div>
                {% if is_granted("ROLE_ADMIN") %}
                    <div x-forum-action="modal" x-text-modal-node="image" class="forum-button"><i class="fa fa-image"></i><span class="forum-button-tooltip">{{ 'Bild einfügen'|trans({},'global') }}</span></div>
                    <div x-forum-action="edit" x-text-wrap-node="admannounce" class="forum-button"><i class="fas fa-bullhorn"></i><span class="forum-button-tooltip">{{ 'Admin Ankündigung'|trans({},'global') }}</span></div>
                    <div x-forum-action="edit" x-text-wrap-node="modannounce" class="forum-button"><i class="fas fa-gavel"></i><span class="forum-button-tooltip">{{ 'Mod Ankündigung'|trans({},'global') }}</span></div>
                    <div x-forum-action="edit" x-text-wrap-node="announce" class="forum-button"><i class="fas fa-rss"></i><span class="forum-button-tooltip">{{ 'Orakel Ankündigung'|trans({},'global') }}</span></div>
                {% endif %}
                <div x-forum-action="edit" x-text-wrap-node="ul" class="forum-button"><i class="fa fa-list-ul"></i><span class="forum-button-tooltip">{{ 'Einfache Liste'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-wrap-node="ol" class="forum-button"><i class="fa fa-list-ol"></i><span class="forum-button-tooltip">{{ 'Nummerierte Liste'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-wrap-node="li" class="forum-button"><i class="fa fa-star-of-life"></i><span class="forum-button-tooltip">{{ 'Listenpunkt'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-wrap-node="spoiler" class="forum-button"><i class="fa fa-eye-slash"></i><span class="forum-button-tooltip">{{ 'Spoiler'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-wrap-node="quote" class="forum-button"><i class="fa fa-quote-left"></i><span class="forum-button-tooltip">{{ 'Zitat'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-wrap-node="glory" class="forum-button"><i class="fa fa-crown"></i><span class="forum-button-tooltip">{{ 'Ruhm'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-insert-node="hr" class="forum-button"><i class="fa fa-grip-lines"></i><span class="forum-button-tooltip">{{ 'Linie'|trans({},'global') }}</span></div>
                <div x-forum-action="edit" x-text-wrap-node="rp" class="forum-button"><i class="fas fa-scroll"></i><span class="forum-button-tooltip">{{ 'Rollenspiel'|trans({},'global') }}</span></div>
            </div>

        <textarea id="forum-editor-text">{% if content is defined %}{{content}}{% endif %}</textarea>

        <div class="row">
            <div class="padded cell rw-12">
                <ul class="tabs" x-tab-group="forum-classic-editor-toolbox" x-tab-control>
                    <li x-tab-id="emotes"><i class="fa fa-smile"></i></li>
                    <li x-tab-id="games"><i class="fa fa-dice"></i></li>
                </ul>
                <div class="lightbox" x-tab-group="forum-classic-editor-toolbox" x-tab-id="emotes" x-tab-target>
                    <div class="forum-button-bar">
                        {% for tag,url in emotes %}
                            <div x-forum-action="edit" x-text-emote="{{ asset(url) }}" x-text-insert-emote="{{ tag }}" class="forum-button-inline"><img alt="{{ tag }}" src="{{ asset(url) }}"></div>
                        {% endfor %}
                    </div>
                </div>
                <div class="lightbox" x-tab-group="forum-classic-editor-toolbox" x-tab-id="games" x-tab-target>
                    <div class="forum-button-bar">
                        <div x-forum-action="edit" x-text-insert-node="d4" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/dice4.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="d6" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/dice6.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="d8" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/dice8.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="d10" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/dice10.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="d12" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/dice12.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="d20" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/dice20.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="d100" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/dice100.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="letter" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/lta.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="consonant" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/ltc.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="vowel" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/ltv.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="rps" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/rps.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="coin" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/coin.png') }}"></div>
                        <div x-forum-action="edit" x-text-insert-node="card" class="forum-button-inline"><img alt="" src="{{ asset('build/images/forum/card.png') }}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="padded cell rw-12 right">
            {% if not pm and is_granted("ROLE_CROW") %}
                <div id="crowpost" class="forum-checkbox">
                    <input class="forum-checkbox" type="radio" id="radio-user" name="post-type" value="USER" {% if app.user.postAsDefault != "DEV" %}checked{% endif %}>
                    <input class="forum-checkbox" type="radio" id="radio-crow" name="post-type" value="CROW">
                    {% if is_granted("ROLE_ADMIN") %}
                        <input class="forum-checkbox" type="radio" id="radio-dev" name="post-type" value="DEV"{% if app.user.postAsDefault == "DEV" %}checked{% endif %}>
                    {% endif %}
                    <span id="crow_answer_content">{% if app.user.postAsDefault != "DEV" %}{{ app.user.username }}{% else %}{{ 'Dev'|trans({},'global') }}{% endif %}</span>
                </div>
            {% endif %}
            <div x-forum-action="send" class="forum-button">{{ 'Absenden'|trans({},'global') }}</div>
        </div>
    </div>

</div>
<script>
    (function() {

        let node_transfer_source = document.getElementById('forum-editor-text');
        let node_transfer_target = document.getElementById('forum-editor-preview');
        const transfer_to_preview = function() {

            let container_node = document.createElement('p');
            container_node.innerText = node_transfer_source.value.replace(/(\r\n|\n|\r)/gm,'{br}');

            const lego = function(blocks,elem) {
                for (let i = 0; i < blocks.length; i++) {
                    if (!blocks[i]) continue;
                    let node = null;
                    if (typeof blocks[i] === 'string')
                        node = document.createTextNode( blocks[i] );
                    if (typeof blocks[i] === 'object') {
                        node = document.createElement( blocks[i][1] );
                        node.appendChild( document.createTextNode( blocks[i][0] ) );
                        if (blocks[i][2]) node.classList.add(blocks[i][2]);
                        if (blocks[i][3]) for (let j = 0; j < blocks[i][3].length; j += 2)
                            node.setAttribute(blocks[i][3][j], blocks[i][3][j+1]);
                    }
                    if (node) elem.parentNode.insertBefore(node, elem);
                }
                elem.parentNode.removeChild(elem);
            }

            const parseRangeBlocks = function(elem, secondary = false) {
                let changed = false;
                if (elem.nodeType === Node.TEXT_NODE) {
                    const str = elem.textContent;
                    const regex_wrappers = !secondary ? /\[(.*?)(?:=([^\]]*))?]([\s\S]*?)\[\/\1]/gm : /(?:([^\w\s]){2})([\s\S]*?)\1{2}/gm;
                    let current_offset = 0;
                    let blocks = [];
                    /*
                    Blocks structure
                    1 - text content,
                    2 - HTML tag (wrapping element),
                    3 - element class name,
                    4 - element attributes (array, optional)

                    Attributes structure
                    1 - attribute name
                    2 - attribute value
                    ... repeat if necessary

                    Examples:
                    blocks.push( [ 'my text', 'p', null] )
                    => <p>my text</p>

                    blocks.push( [ 'my link', 'a', 'external', [ 'href', 'https://myhordes.net']] )
                    => <a class="external" href="https://myhordes.net">my text</a>
                     */

                    for (const match of str.matchAll( regex_wrappers )) {
                        if (current_offset < match.index )
                            blocks.push(str.substr(current_offset,match.index-current_offset));

                        console.log(match);

                        const tag = match[1].toLowerCase();
                        if (!secondary) switch (tag) {
                            case 'b': case 'i': case 'u': case 's': case 'ul': case 'ol': case 'li': blocks.push( [ match[3], tag, null] ); changed = true; break;
                            case 'bad': blocks.push( [ match[3], 'span', tag] ); changed = true; break;
                            case 'spoiler': case 'glory': blocks.push( [ match[3], 'div', tag] ); changed = true; break;
                            case 'quote': 
                            if(match[2] !== undefined) 
                                blocks.push( [ match[2], 'span', 'quoteauthor'] ); 
                            blocks.push( [ match[3], 'blockquote', null] ); changed = true; break;
                            case 'spoiler': case 'glory': blocks.push( [ match[3], 'div', tag] ); changed = true; break;
                            case 'link': blocks.push( [ match[3], 'a', tag, [ 'href', match[2], 'target','_blank' ]] ); changed = true; break;
                            case 'image': blocks.push( [ '', 'img', tag, [ 'src', match[2], 'alt', match[3] ]] ); changed = true; break;
                            case 'admannounce': blocks.push( [ match[3], 'div', 'adminAnnounce'] ); changed = true; break;
                            case 'modannounce': blocks.push( [ match[3], 'div', 'modAnnounce'] ); changed = true; break;
                            case 'announce': blocks.push( [ match[3], 'div', 'oracleAnnounce'] ); changed = true; break;
                            case 'rp':
                            if(match[2] !== undefined) 
                                blocks.push( [ match[2], 'span', 'rpauthor'] ); 
                            blocks.push( [ match[3], 'div', 'rpText'] ); changed = true; break;
                            default: blocks.push( match[0] ); break;
                        } else switch (tag) {
                            case '*': blocks.push( [ match[2], 'b', null] ); changed = true; break;
                            case '/': blocks.push( [ match[2], 'i', null] ); changed = true; break;
                            case '-': blocks.push( [ match[2], 's', null] ); changed = true; break;
                            default: blocks.push( match[0] ); break;
                        }
                        current_offset = (match[0].length + match.index);
                    }

                    if (blocks.length === 0) blocks.push( str );
                    else if (current_offset < str.length) blocks.push( str.substr( current_offset ) );

                    lego(blocks,elem);
                } else if (elem.nodeType === Node.ELEMENT_NODE) {
                    let children = elem.childNodes;
                    for (let i = 0; i < children.length; i++)
                        changed |= parseRangeBlocks(children[i],secondary);
                }
                return changed;
            }
            const parseInsets = function(elem, listspace = false) {
                if (elem.nodeType === Node.TEXT_NODE) {
                    const str = elem.textContent;
                    const regex_wrappers = /{([a-zA-Z]+)}|{([a-zA-Z]+),([\w,]*)}|{([a-zA-Z]+)(\d+)}/g;
                    let current_offset = 0;
                    let blocks = [];

                    for (const match_r of str.matchAll( regex_wrappers )) {

                        let match = [match_r[0], undefined, undefined];
                        if      (match_r[1] !== undefined) match = [ match_r[0], match_r[1], undefined ];
                        else if (match_r[2] !== undefined) match = [ match_r[0], match_r[2], match_r[3] ];
                        else if (match_r[4] !== undefined) match = [ match_r[0], match_r[4], match_r[5] ];

                        if (current_offset < match_r.index )
                            blocks.push(str.substr(current_offset,match_r.index-current_offset));

                        const tag = match[1].toLowerCase();
                        switch (tag) {
                            case 'hr': blocks.push( [ '', tag, null] ); break;
                            case 'br': blocks.push( listspace ? null : [ '', tag, null] ); break;
                            case 'dice': case 'dc': case 'de': case 'des': case 'd': case 'w':
                                if (["4","6","8","10","12","20","100"].indexOf( match[2] ) !== -1) blocks.push( [ '???', 'div', 'dice-' + match[2]] );
                                else blocks.push( match[0] );
                                break;
                            case 'letter': case 'lettre': blocks.push( [ '???', 'div', 'letter-a'] ); break;
                            case 'consonant': case 'consonne': blocks.push( [ '???', 'div', 'letter-c'] ); break;
                            case 'vowel': case 'voyelle': blocks.push( [ '???', 'div', 'letter-v'] ); break;
                            case 'pfc': case 'rps': case 'ssp': blocks.push( [ '???', 'div', 'rps'] ); break;
                            case 'flip': case 'coin': case 'ht': case 'pf': case 'mw': blocks.push( [ '???', 'div', 'coin'] ); break;
                            case 'carte': case 'card': case 'skat': case 'blatt': blocks.push( [ '???', 'div', 'card'] ); break;
                            case 'citizen': case 'rnduser': case 'user': case 'spieler':
                                let attribs = match[2] ? match[2].split(',') : [];
                                if (!attribs[0]) attribs[0] = 'any';
                                if (!attribs[1]) attribs[1] = '0';
                                blocks.push( [ attribs[1] === '0' ? '???' : '??? [' + attribs[1] + ']', 'div', 'citizen', ['x-a', attribs[0], 'x-b', attribs[1]]] );
                                break;
                            default: blocks.push( match[0] ); break;
                        }
                        current_offset = (match[0].length + match_r.index);
                    }

                    if (blocks.length === 0) blocks.push( str );
                    else {
                        changed = true;
                        if (current_offset < str.length) blocks.push( str.substr( current_offset ) );
                    }

                    lego(blocks,elem);
                } else {
                    let is_list_wrapper = ['UL','OL'].indexOf(elem.tagName) !== -1;
                    let is_list_entry   = ['LI'].indexOf(elem.tagName) !== -1;
                    let children = elem.childNodes;
                    for (let i = 0; i < children.length; i++)
                        parseInsets(children[i], (listspace || is_list_wrapper) && !is_list_entry);
                }
            }

            const parseEmotes = function(elem) {
                if (elem.nodeType === Node.TEXT_NODE) {
                    const str = elem.textContent;
                    const regex_wrappers = /(?::(\w+?):)|([:;].)/g;
                    let current_offset = 0;
                    let blocks = [];

                    for (const match of str.matchAll( regex_wrappers )) {

                        if (current_offset < match.index )
                            blocks.push(str.substr(current_offset,match.index-current_offset));

                        let tag = null;
                        if (match[1])
                            tag = match[0].toLowerCase();
                        else if (match[2])
                            switch (match[0]) {
                                case ':)': tag = ':smile:';    break;
                                case ':D': tag = ':lol:';      break;
                                case ':(': tag = ':sad:';      break;
                                case ';)': tag = ':smile:';    break;
                                case ':O': tag = ':surprise:'; break;
                            }

                        let ctrl = tag ? document.querySelector('[x-text-emote][x-text-insert-emote="' + tag + '"]') : null;
                        if (ctrl)
                            blocks.push( [ '', 'img', null, ['src', ctrl.getAttribute('x-text-emote'), 'x-foxy-proxy', tag]] );
                        else blocks.push( match[0] );
                        current_offset = (match[0].length + match.index);
                    }

                    if (blocks.length === 0) blocks.push( str );
                    else if (current_offset < str.length) blocks.push( str.substr( current_offset ) );

                    lego(blocks,elem);
                } else {
                    let children = elem.childNodes;
                    for (let i = 0; i < children.length; i++)
                        parseEmotes(children[i]);
                }
            }

            let changed = true;
            while (changed) changed &= parseRangeBlocks(container_node,false);
            parseInsets(container_node);
            parseEmotes(container_node);

            changed = true;
            while (changed) changed &= parseRangeBlocks(container_node,true);

            let c = null;
            while ((c = node_transfer_target.lastChild))
                node_transfer_target.removeChild(c)

            while ((c = container_node.firstChild))
                node_transfer_target.appendChild(c);
        }

        node_transfer_source.addEventListener('input', transfer_to_preview);

        {% if content is defined %}
        let event = new Event('input');
        node_transfer_source.dispatchEvent(event);
        node_transfer_source.focus();
        node_transfer_source.setSelectionRange(node_transfer_source.value.length,node_transfer_source.value.length);
        document.getElementById('forum-editor').scrollIntoView();
        {% endif %}

        let closeModal = function() {
            document.getElementById('modal-backdrop').classList.remove('active');
            let form = document.getElementById('modal-form');
            form.parentNode.removeChild(form);
        };

        document.getElementById('modal-close').addEventListener('click', closeModal);
        document.getElementById('modal-button-no').addEventListener('click', closeModal);

        $.html.addEventListenerAll( '[x-forum-action="modal"]', 'click', function (e,elem) {
            e.preventDefault();
            e.stopPropagation();

            const tag = elem.getAttribute('x-text-modal-node');
            const content = node_transfer_source.value;
            const s_start = node_transfer_source.selectionStart;
            const s_end = node_transfer_source.selectionEnd;
            let title, form, formType, label1, label2, input1, input2;

            form = document.createElement('div');
            form.setAttribute('id', 'modal-form');
            form.classList.add('modal-form');
            formType = document.createElement('input');
            formType.setAttribute('id', 'form-type');
            formType.setAttribute('type', 'hidden');
            formType.value = tag;

            if (tag === 'link') {
                title = "{{ 'Link einfügen'|trans({},'global') }}";
                label1 = document.createElement('label');
                label1.setAttribute('for', 'link-text');
                label1.innerText = "{{ 'Link-Text'|trans({},'global') }}";
                input1 = document.createElement('input');
                input1.setAttribute('id', 'link-text');
                input1.setAttribute('type', 'text');
                input1.value = content.substr( s_start, s_end - s_start );

                label2 = document.createElement('label');
                label2.setAttribute('for', 'link-link');
                label2.innerText = "{{ 'Link-URL'|trans({},'global') }}";
                input2 = document.createElement('input');
                input2.setAttribute('id', 'link-link');
                input2.setAttribute('type', 'text');

            }
            else if (tag === 'image') {
                title = "{{ 'Bild einfügen'|trans({},'global') }}";
                label1 = document.createElement('label');
                label1.setAttribute('for', 'image-text');
                label1.innerText = "{{ 'Bildtitel'|trans({},'global') }}";
                input1 = document.createElement('input');
                input1.setAttribute('id', 'image-text');
                input1.setAttribute('type', 'text');
                input1.value = content.substr( s_start, s_end - s_start );

                label2 = document.createElement('label');
                label2.setAttribute('for', 'image-link');
                label2.innerText = "{{ 'Bild-URL'|trans({},'global') }}";
                input2 = document.createElement('input');
                input2.setAttribute('id', 'image-link');
                input2.setAttribute('type', 'text');
            }

            form.append(formType, label1, input1, label2, input2);

            document.getElementById('modal-title').innerText = title;
            document.getElementById('modal-content').append(form);
            document.getElementById('modal-backdrop').classList.add('active');
            document.getElementById('modal-backdrop').classList.add('tag'+tag);

            document.getElementById('modal-button-ok').addEventListener('click', function processModal() {
                let submitted = document.getElementById('modal-form');
                const type = document.getElementById('form-type');
                let inputs = submitted.getElementsByTagName('input');
                var tagText, tagUrl;
                for (let i = 0; i < inputs.length; i++) {
                    console.log(inputs[i].id);
                    if (inputs[i].id === type.value + '-text') {
                        let doc = new DOMParser().parseFromString(inputs[i].value, 'text/html');
                        tagText = doc.body.textContent || "";
                    }
                    else if (inputs[i].id === type.value + '-link') {
                        tagUrl = encodeURI(inputs[i].value.replace('http:', '').replace('https:', ''));
                    }
                }

                if (tagUrl.substr(0,2) !== '//') {
                    // Apparently not an Url.
                    // TODO: Add error message to Url field.
                    document.getElementById(type.value + '-link').classList.add('error');
                    document.getElementById(type.value + '-text').classList.add('error');
                }
                else {
                    document.getElementById(type.value + '-link').classList.remove('error');
                    document.getElementById(type.value + '-text').classList.remove('error');
                    document.getElementById('modal-backdrop').classList.remove('active');
                    document.getElementById('modal-button-ok').removeEventListener('click', processModal);
                    submitted.parentNode.removeChild(submitted);

                    node_transfer_source.value =
                        content.substr(0, s_start) +
                        '[' + tag + '=' + tagUrl + ']' +
                        tagText + '[/' + tag + ']' +
                        content.substr(s_end);

                    node_transfer_source.setSelectionRange(s_start + tag.length + 2, s_end + tag.length + 2);
                    window.setTimeout(function () {
                        node_transfer_source.focus()
                    }, 10)
                    transfer_to_preview();
                }
            });
        } );
        $.html.addEventListenerAll( '[x-forum-action="edit"][x-text-wrap-node]', 'click', function (e,elem) {
            e.preventDefault();
            e.stopPropagation();

            const tag = elem.getAttribute('x-text-wrap-node');
            const content = node_transfer_source.value;
            const s_start = node_transfer_source.selectionStart;
            const s_end = node_transfer_source.selectionEnd;

            node_transfer_source.value =
                content.substr( 0, s_start ) +
                '[' + tag + ']' +
                content.substr( s_start, s_end - s_start ) +
                '[/' + tag + ']' +
                content.substr( s_end );

            node_transfer_source.setSelectionRange( s_start + tag.length + 2, s_end + tag.length + 2 );
            window.setTimeout( function() {node_transfer_source.focus()}, 10 )
            transfer_to_preview();
        } );
        $.html.addEventListenerAll( '[x-forum-action="edit"][x-text-insert-node]', 'click', function (e,elem) {
            e.preventDefault();
            e.stopPropagation();

            const tag = elem.getAttribute('x-text-insert-node');
            const content = node_transfer_source.value;
            const s_start = node_transfer_source.selectionStart;
            const s_end = node_transfer_source.selectionEnd;

            node_transfer_source.value =
                content.substr( 0, s_start ) +
                '{' + tag + '}' +
                content.substr( s_start );

            node_transfer_source.setSelectionRange( s_start + tag.length + 2, s_end + tag.length + 2 );
            window.setTimeout( function() {node_transfer_source.focus()}, 10 )
            transfer_to_preview();
        } );
        $.html.addEventListenerAll( '[x-forum-action="edit"][x-text-insert-emote][x-text-emote]', 'click', function (e,elem) {
            e.preventDefault();
            e.stopPropagation();

            const tag = elem.getAttribute('x-text-insert-emote');
            const content = node_transfer_source.value;
            const s_start = node_transfer_source.selectionStart;
            const s_end = node_transfer_source.selectionEnd;

            node_transfer_source.value =
                content.substr( 0, s_start ) + tag + content.substr( s_start );

            node_transfer_source.setSelectionRange( s_start + tag.length, s_end + tag.length );
            window.setTimeout( function() {node_transfer_source.focus()}, 10 )
            transfer_to_preview();
        } );

        // Post as crow toggle
        {% if is_granted("ROLE_CROW") and not pm %}
        function changeHandler(){
            switch (document.querySelector("input[name=post-type]:checked").value) {
                case "USER":
                    document.getElementById("radio-crow").checked = true;
                    document.getElementById("radio-user").checked = false;
                    {% if is_granted("ROLE_ADMIN") %}
                        document.getElementById("radio-dev").checked = false;
                    {% endif %}
                    document.getElementById('crow_answer_content').innerHTML = "{{ 'Rabe'|trans({},'global') }}";
                    break;
                case "CROW":
                    document.getElementById("radio-crow").checked = false;
                    {% if is_granted("ROLE_ADMIN") %}
                        document.getElementById("radio-user").checked = false;
                        document.getElementById("radio-dev").checked = true;
                        document.getElementById('crow_answer_content').innerHTML = "{{ 'Dev'|trans({},'global') }}";
                    {% else %}
                        document.getElementById("radio-user").checked = true;
                        document.getElementById('crow_answer_content').innerHTML = "{{ app.user.username }}";
                    {% endif %}
                    break;
                case "DEV":
                    document.getElementById("radio-crow").checked = false;
                    document.getElementById("radio-user").checked = true;
                    {% if is_granted("ROLE_ADMIN") %}
                        document.getElementById("radio-dev").checked = false;
                    {% endif %}
                    document.getElementById('crow_answer_content').innerHTML = "{{ app.user.username }}";
                    break;
            }
        }
        document.getElementById('crowpost').addEventListener('click', changeHandler);
        {% endif %}

        let send_buttons = document.querySelectorAll('[x-forum-action=send]');
        for (let i = 0; i < send_buttons.length; i++) {
            send_buttons[i].addEventListener('click', function() {
                let target_url, target_payload;
                {% if not pm %}
                    let type = document.querySelector("input[name=post-type]:checked") ? document.querySelector("input[name=post-type]:checked").value : null;
                {% endif %}

                // Replace proxies
                let content_node = document.getElementById('forum-editor-preview').cloneNode(true);

                let proxies = content_node.querySelectorAll('[x-foxy-proxy]');
                for (let j = 0; j < proxies.length; j++) {
                    if (!proxies[j].parentNode) continue;
                    proxies[j].parentNode.insertBefore(document.createTextNode(proxies[j].getAttribute('x-foxy-proxy')), proxies[j]);
                    proxies[j].parentNode.removeChild(proxies[j]);
                }

                {% if pm %}
                    target_url = '{{ path('town_house_send_pm_controller') }}';
                    target_payload = {
                        'content': content_node.innerHTML,
                        'type': "{{ type }}",
                    };
                    {% if tid is not null %}
                        target_payload.tid = {{ tid }};
                    {% else %}
                        target_payload.title = document.getElementById('forum-editor-title').value;
                        {% if type == 'pm' %}
                            target_payload.recipient = document.getElementById('pmidrecipient').value;
                            let sent_items = document.querySelectorAll("#sent-items .item");
                            if(sent_items.length > 0) {
                                target_payload.items = [];
                                for (var i = 0; i < sent_items.length; i++) {
                                    target_payload.items.push(sent_items[i].attributes['x-item-id'].value);
                                }
                            }
                        {% endif %}
                    {% endif %}
                {% else %}
                    {% if tid is null %}
                    target_url = '{{ path('forum_new_thread_controller', {id: fid}) }}';
                    target_payload = {
                        title: document.getElementById('forum-editor-title').value,
                        text: content_node.innerHTML,
                        type: type
                    };
                    {% else %}
                    target_url = '{{ path('forum_new_post_controller', {fid: fid, tid: tid}) }}';
                    target_payload = {
                        text: content_node.innerHTML,
                        type: type,
                    };
                    {% endif %}
                {% endif %}
                
                $.ajax.easySend( target_url, target_payload,
                    function (data) {
                        $.ajax.load( null, data.url, true );
                    }
                );
            });
        }
    })();
</script>